<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sony.qcrilam"
    coreApp="true"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="26"/>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:persistent="true" android:directBootAware="true" >
        <service android:name=".QcRilAmService" />
        <receiver android:name=".BootReceiver" android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
